form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

input,select{
    margin-bottom: 30px;
}

h2{
    text-align: center;
}

.mensaje{
    text-align: center;
}